:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2, .headerMenu h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.headerMenu{
    width:300px;
    height:100px;
    float:right;
}
.logo a:hover, .headerMenu a:hover{
    text-decoration:underline solid white;
}
.main{
    width:100%;
    height:calc(100vh - 200px);
    background-color: rgb(175, 175, 175);
}
.login{
    width:60%;
    height:100%;
    margin:0 20%;
}
.loginTitle{
    width:100%;
    height:150px;
    padding:40px 0;
}
.loginTitle h2{
    width:80%;
    height:70px;
    margin:0 10%;
    text-align:center;
    font-size:48px;
    border-bottom:3px solid black;
}
.loginInput{
    width:100%;
    height:200px;
    margin:30px 0;
    padding:30px 25%;
}
.loginInput li{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
}
.loginInput h2{
    width:150px;
    height:40px;
    font-size:28px;
    text-align:center;
}
.loginInput input{
    width:300px;
    height:40px;
    font-size:20px;
}
.loginButton{
    width:100%;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loginButton input{
    width:600px;
    height:40px;
}
.footer{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}