:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;    
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.logo a:hover{
    text-decoration:underline solid white;
}
.headerMenu{
    width:300px;
    height:100px;
    padding:0 50px;
    float:right;
}
.headerMenu a{
    display:flex;
    justify-content:space-around;
}
.headerMenu i{
    font-size:48px;
    color:white;
    line-height:100px;
}
.headerMenu h2{
    font-size:24px;
    color:white;
    line-height:100px;
}
.headerMenu a:hover{
    opacity:0.5;
}
.nav{
    width:100%;
    background-color: rgb(116, 116, 116);
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:850px;
}
.basketMain{
    width:100%;
    padding:0 5vw;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}
.mainTitle{
    width:100%;
    height:50px;
}
.mainTitle h2{
    line-height:50px;
    font-size:32px;
    text-align:center;
    border-bottom:1px solid black;
}
.mainList{
    width:100%;
    height:700px;
    overflow:auto;
}
.mainList>ul>li{
    width:100%;
    height:200px;
    margin:25px 0;
    border-top:1px solid black;
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-around;
}
.listImg, .listImg img{
    width:300px;
    height:198px;
}
.listImg a:hover{
    opacity:0.5;
}
.listTitle{
    width:500px;
    height:200px;
}
.listTitle h2{
    width:100%;
    height:100px;
    line-height:100px;
    font-size:32px;
}
.listTitle ul{
    width:400px;
    display:flex;
    justify-content:space-between;
}
.listTitle li{
    font-size:28px;
}
.listTitle span{
    color:red;
}
.listqua{
    width:200px;
    height:200px;
}
.setqua{
    width:200px;
    height:100px;
    padding:30px 0;
}
.setqua input{
    width:200px;
    height:40px;
    font-size:20px;
}
.setinde{
    width:200px;
    height:100px;
}
.setinde input{
    width:100px;
    height:40px;
    font-size:20px;
}
.inc{background-color:rgb(147, 224, 147);}
.dec{background-color:rgb(223, 123, 123);}
.listClose{
    width:100px;
    height:200px;
    padding:50px 0;
}
.listClose a{
    width:100px;
    height:100px;
    font-size:64px;
    text-align:center;
    border-radius:50%;
    display:block;
    color:black;
}
.listClose a:hover{
    background-color: rgb(190, 190, 190);
    transition:all 0.5s;
}
.emptyBasket{
    width:100%;
    height:200px;
    margin-top:50px;
    /* background-color: rgb(147, 224, 147); */
    text-align:center;
}
.emptyBasket h2{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:32px;
}
.emptyBasket p{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:28px;
}
.emptyBasket a{
    color:rgb(29, 77, 33);
}
.emptyBasket a:hover{
    font-weight:bold;
    text-decoration:underline;
}
.mainResult{
    width:100%;
    height:100px;
    border-top:1px solid black;
}
.mainResult ul{
    width:550px;
    height:100px;
    float:right;
    display:flex;
    justify-content:space-between;
    padding-top:30px;
}
.mainResult h2{
    font-size:24px;
    line-height:40px;
}
.mainResult i{
    font-size:40px;
}
.mainResult input{
    width:200px;
    height:40px;
}
.footer{
    width:100%;
    height:10vh;
    background-color: rgb(23, 23, 23);
}