:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;    
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2, .headerMenu h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.headerMenu{
    width:300px;
    height:100px;
    float:right;
}
.headerMenu a:hover{
    text-decoration:underline solid white;
}
.nav{
    width:100%;
    background-color: rgb(116, 116, 116);
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:1200px;
}
.mainInfo{
    width:100%;
    height:400px;
    background-color: rgb(116, 116, 116);
    display:flex;
    justify-content:center;
}
.infoImg{
    width:500px;
    height:300px;
    margin:50px 0;
    background-color: rgb(155, 212, 147);
}
.infoImg img{
    width:500px;
    height:300px;
}
.infoSet{
    width:500px;
    height:300px;
    margin:50px 0;
    padding:0 20px;
    background-color: rgb(75, 173, 62);
}
.infoSet h2{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:32px;
}
.infoSet p{
    width:100%;
    height:50px;
    font-size:24px;
}
.infoSet span{
    color:red;
}
.infoSet button{
    width:200px;
    height:40px;
}
.footer{
    width:100%;
    height:10vh;
    background-color: rgb(23, 23, 23);
}