:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;    
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2, .headerMenu h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.headerMenu{
    width:300px;
    height:100px;
    float:right;
}
.logo a:hover, .headerMenu a:hover{
    text-decoration:underline solid white;
}
.nav{
    width:100%;
    background-color: rgb(116, 116, 116);
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:1200px;
}
.basket{
    width:100px;
    height:100px;
    border-radius:50%;
    cursor:pointer;
    right:50px;
    bottom:50px;
    background-color: rgb(162, 162, 162);
    position: fixed;
}
.basket img{
    width:60px;
    height:60px;
    margin:20px;
    text-align:center;
}
.basket:hover{
    opacity:0.5;
}
.mainInfo{
    width:100%;
    height:400px;
    /* background-color: rgb(116, 116, 116); */
    border-top:5px solid black;
    border-bottom:5px solid black;
    margin-top:100px;
    padding:40px 0;
    display:flex;
    justify-content:center;
}
.infoImg{
    width:500px;
    height:300px;
    background-color: rgb(155, 212, 147);
}
.infoImg img{
    width:500px;
    height:300px;
}
.infoSet{
    width:500px;
    height:300px;
    padding:0 20px;
}
.setTitle{
    width:100%;
    height:50px;
}
.setTitle h2{
    line-height:50px;
    font-size:32px;
}
.setSubTitle{
    width:100%;
    height:200px;
    font-size:20px;
}
.setInput{
    width:100%;
    height:50px;
    padding:5px 0;
}
.setInput ul{
    display:flex;
    justify-content:space-between;
}
.setInput p{
    width:250px;
    height:40px;
    line-height:40px;
    font-size:24px;
    text-align:center;
}
.setInput span{
    color:red;
}
.setInput input{
    width:100px;
    height:40px;
    font-size:18px;
    vertical-align: middle;
}
.setInput button{
    width:100px;
    height:40px;
    font-size:20px;
    vertical-align: middle;
}
.footer{
    width:100%;
    height:10vh;
    background-color: rgb(23, 23, 23);
}