:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;    
    /* color:white; */
    /* background-color: rgb(23, 23, 23); */
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2, .headerMenu h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.headerMenu{
    width:300px;
    height:100px;
    float:right;
}
.headerMenu a:hover{
    text-decoration:underline solid white;
}
.nav{
    width:100%;
    height:50px;
    background-color: rgb(116, 116, 116);
}
.search{
    width:100%;
    height:100px;
    padding:0 calc(50% - 250px);
    margin:0 auto;
}
.search input{
    width:450px;
    height:40px;
    margin:30px 0;
    font-size:20px;
    float:left;
}
.searchIcon{
    width:50px;
    height:40px;
    margin:30px 0;
    background-color: rgb(172, 172, 172);
    float:left;
    text-align:center;
    cursor:pointer;
}
.searchIcon img{
    width:40px;
    height:40px;
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:1200px;
}
.mainTop{
    width:100%;
    height:400px;
    padding:50px 0;
}
.mainImg{
    width:100%;
    height:300px;
    background-color: rgb(116, 116, 116);
}
.mainImg ul{
    display:flex;
    justify-content:space-around;
}
.mainImg li, .mainImg img{
    width:500px;
    height:300px;
}
.mainImg a:hover{
    opacity:0.5;
}
.shopmenu{
    width:100%;
    height:800px;
}
.shopmenuTitle{
    width:90%;
    height:50px;
    margin:0 5vw;
    border-bottom:1px solid black;
}
.shopmenuTitle ul{
    width:230px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.shopmenuTitle h2{
    font-size:32px;
    height:50px;
}
.shopmenuTitle a{
    font-size:20px;
    color:black;
}
.shopmenuTitle a:hover{
    font-weight:bold;
}
.shopmenuList{
    width:90%;
    height:750px;
    margin:0 5vw;
}
.shopmenuList ul{
    width:100%;
    height:300px;
    margin:calc(75px / 2) 0;
    display:flex;
    justify-content:space-between;
}
.shopmenuList li{
    width:300px;
    height:300px;
    background-color: rgb(99, 169, 91);
}
.shopmenuList a:hover{
    opacity:0.5;
}
.shopmenuImg{
    width:100%;
    height:200px;
    padding:0 50px;
}
.shopmenuImg img{
    width:200px;
    height:200px;
}
.shopmenuSub{
    width:100%;
    height:100px;
    color:black;
}
.shopmenuSub h2{
    text-align:center;
}
.shopmenuSub p{
    font-size:28px;
    text-align:center;
}
.shopmenuSub span{
    color:red;
}
.footer{
    width:100%;
    height:10vh;
    background-color: rgb(23, 23, 23);
}