:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;    
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2, .headerMenu h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.headerMenu{
    width:300px;
    height:100px;
    float:right;
}
.logo a:hover, .headerMenu a:hover{
    text-decoration:underline solid white;
}
.nav{
    width:100%;
    background-color: rgb(116, 116, 116);
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:850px;
    padding-top:100px;
}
.mainImg{
    width:300px;
    height:300px;
    background-color: rgb(97, 182, 71);
    border-radius:50%;
    margin:0 auto;
    text-align:center;
}
.mainImg i{
    width:100%;
    height:250px;
    margin:25px 0;
    font-size:250px;
    color:white;
}
.mainTitle{
    width:100%;
    height:100px;
    margin:0 auto;
}
.mainTitle h2{
    line-height:50px;
    font-size:32px;
    text-align:center;
}
.mainTitle p{
    line-height:50px;
    font-size:24px;
    text-align:center;
}
.mainTitle a{
    color:black;
}
.mainTitle a:hover{
    text-decoration:underline;
}
.footer{
    width:100%;
    height:10vh;
    background-color: rgb(23, 23, 23);
}