:global(*){
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    /* color:white; */
    /* background-color: rgb(23, 23, 23); */
}
a{
    text-decoration:none;
}

.header{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}
.logo{
    width:300px;
    height:100px;
    float:left;
}
.logo h2{
    padding: 25px 0;
    font-size:32px;
    height:100px;
    text-align:center;
    color:white;
}
.logo a:hover{
    text-decoration:underline solid white;
}
.nav{
    width:100%;
    height:50px;
    background-color: rgb(116, 116, 116);
}
.menuList{
    width:100%;
    height:50px;
    background-color: rgb(75, 106, 58);
}
.menuList ul{
    display:flex;
    justify-content:space-around;
}
.menuList li{
    width:200px;
    height:40px;
    margin:5px 0;
    border:1px solid black;
    text-align:center;
}
.menuList a{
    width:100%;
    height:100%;
    font-size:20px;
    padding:5px 0;
    color:white;
    display:block;
}
.menuList li:hover{
    background-color: rgb(99, 169, 91);
    font-weight:bold;
    cursor:pointer;
}
.main{
    width:100%;
    height:calc(100vh - 250px);
    padding:0 50px;
    color:white;
}
.mainTitle{
    width:100%;
    height:50px;
}
.mainTitle h2{
    font-size:40px;
    text-align:center;
}
.jongsugi{
    width:550px;
    height:100%;
    padding:0 25px;
}
.mainModule{
    width:500px;
    height:350px;
    background-color:gray;
}
.mainModule h2{
    width:100%;
    height:50px;
    text-align:center;
}
.mainModule ul{
    display:flex;
    justify-content:space-around;
}
.mainModule li{
    width:100px;
    height:125px;
}
.mainModule a{color:white;}
.mainModule a:hover{opacity:0.5; font-size:20px;}
.moduleImg{
    width:100px;
    height:100px;
    background-color:blue;
    padding:0 10px;
}
.mainModule p{
    text-align:center;
}
.moduleCheck{
    width:100%;
    height:25px;
    margin-top:25px;
    text-align:center;
}
.mainCenter{
    width:500px;
    height:250px;
    background-color:black;
}
.mainBottom{
    width:500px;
    height:50px;
    background-color:gray;
}
.footer{
    width:100%;
    height:100px;
    background-color: rgb(23, 23, 23);
}